<?xml version="1.0"?>
	<MENU unidades="no">
		<UNIDAD x="150" y="100" ancho="300" alto="40">
			<EJERCICIO x="150" y="100" ancho="200" alto="40" pantallas="6" ud="1 arrastrar" activo="no"/>
			<EJERCICIO x="150" y="150" ancho="200" alto="40" pantallas="5" ud="2 botones"/>
			<EJERCICIO x="150" y="200" ancho="200" alto="40" pantallas="4" ud="3 combo"/>
			<EJERCICIO x="150" y="250" ancho="200" alto="40" pantallas="3" ud="4 escribir"/>
			<EJERCICIO x="150" y="300" ancho="200" alto="40" pantallas="4" ud="5 memory"/>
			<EJERCICIO x="150" y="350" ancho="200" alto="40" pantallas="5" ud="6 puzzle"/>
			<EJERCICIO x="150" y="400" ancho="200" alto="40" pantallas="11" ud="7 relacionar"/>
			<EJERCICIO x="150" y="450" ancho="200" alto="40" pantallas="3" ud="8 sopa"/>
			<EJERCICIO x="150" y="500" ancho="200" alto="40" pantallas="10" ud="9 flash"/>
			<EJERCICIO x="150" y="550" ancho="200" alto="40" pantallas="4" ud="10 crucigrama"/>
			<EJERCICIO x="150" y="600" ancho="200" alto="40" pantallas="4" ud="11 dictado"/>
			<EJERCICIO x="150" y="650" ancho="200" alto="40" pantallas="12" ud="12 test"/>
			<EJERCICIO x="500" y="100" ancho="200" alto="40" pantallas="6" ud="13 paisaje sonoro"/>
			<EJERCICIO x="500" y="150" ancho="200" alto="40" pantallas="2" ud="14 simon"/>
			<EJERCICIO x="500" y="200" ancho="200" alto="40" pantallas="5" ud="15 historia"/>
			<EJERCICIO x="500" y="250" ancho="200" alto="40" pantallas="6" ud="16 cazamariposas"/>
			<EJERCICIO x="500" y="300" ancho="200" alto="40" pantallas="6" ud="17 laberinto"/>
			<EJERCICIO x="500" y="350" ancho="200" alto="40" pantallas="14" ud="18 clasificar"/>
			<EJERCICIO x="500" y="400" ancho="200" alto="40" pantallas="6" ud="19 escuchar"/>
			<EJERCICIO x="500" y="450" ancho="200" alto="40" pantallas="6" ud="20 colorear"/>
			<EJERCICIO x="500" y="500" ancho="200" alto="40" pantallas="5" ud="21 pulsar"/>
			<EJERCICIO x="500" y="550" ancho="200" alto="40" pantallas="5" ud="22 juego de la oca"/>
			<EJERCICIO x="500" y="600" ancho="200" alto="40" pantallas="5" ud="23 adivinar"/>
		</UNIDAD>
	</MENU>
